<a href="http://www.psu.edu" title="The Pennsylvania State University">
					<img title="Penn State University" alt="Penn State University" 
					src="/images/EbShieldDkBlueTrans.png" align="left" />
					<!-- src="http://astro.psu.edu/psushield.png" /> -->
				</a>
<!-- <img title="Department of Astronomy and Astrophysics" alt="Department of Astronomy and Astrophysics" src="http://astro.psu.edu/header_text.png" /> -->

Eric Ford

<a href="http://science.psu.edu"><img id="science-image" alt="Penn State Science" src="/images/PennStateScienceBlueStackedTrans.png" align="right" />
		<!-- src="http://astro.psu.edu/penn_state_science.png" /> --> </a>
<br>				

<figure class="third">
	<img src="/images/EbShieldDkBlueTrans.png">
	Eric Ford
<!--	<img src="/images/texture-feature-01.jpg"> -->
	<img src="/images/PennStateScienceBlueStackedTrans.png">
	<!-- <figcaption>Three images.</figcaption> -->
</figure>



<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.links %}
				<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->