<!-- 
<div class="psu-header" style="background-color:#014486;height:110px;">
	<img src="/images/EbShieldWhiteTrans.png" height="50" width="141"  style="margin:1em 0em 1em 2em;align:left;vertical-align:top;">
	
	<img src="http://astro.psu.edu/header_text.png" align="middle" style="margin:1em 0em 1em 2em;align:middle;vertical-align:middle" >
	<img src="/images/PennStateScienceWhiteTrans.png" height="20" width="221"  style="margin:1em 0em 1em 2em;align:right;vertical-align:bottom;">	
</div>
-->

<div class="navigation-wrapper">
	<div class="site-name">
		<a href="{{ site.url }}">{{ site.title }}</a>
	</div><!-- /.site-name -->
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.links %}
				<li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		        {% endfor %}
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->